<div>
    <!--Photo by Breanne Sartori from Pexels-->
    <img class="heroimage" src="images/cat_5.jpg" style="width:100%">
  </div>
    <!--about us-->
    <div class=" containers">
    <h3 class="medium-title">About Us</h3>
    <h2>We Are Your Cat Sitters</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed laoreet eros. Maecenas non semper
        neque.
        Fusce lobortis urna volutpat ligula consequat gravida. Suspendisse auctor dui eu libero blandit gravida.
        Morbi aliquam nunc nisi, et posuere nisl sollicitudin ac.
        Vestibulum congue nisi ac quam imperdiet, non malesuada ante sodales. Cras ultrices quis augue vitae
        ultricies.
    </p>
</div>

<div class="containers">
    <div class="team">
        <div class="row">
            <div class="column">
                <div class="about-card">
                    <img src="images/erikoprofile.jpg" alt="Eriko">
                    <div class="discription">
                        <h3 class="medium-title">Cat Sitter</h3>
                        <h2>Eriko</h2>
                        <p>I am a student in OSU and currently taking CS290. I am not a cat sitter but enjoyed making this website!</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="about-card">
                    <img src="images/choco.jpg" alt="Choco">
                    <div class="discription">
                        <h3 class="medium-title">Mentor & Partner</h3>
                        <h2>Choco</h2>
                        <p>Choco is Eriko's partner. Although he doesn't actually go to your place to meet your cats, he gives great advice how to make cats happy!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>