
    <div class="slideshow-container">
        <!--Photo by Cong H from Pexels-->
        <div class="mySlides">
            <img src="images/homeimage.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="images/cat_2.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="images/cat_3.jpg" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <!--about us-->
    <div class="containers">
        <h3 class="medium-title">About Us</h3>
        <h2>We Are Your Cat Sitters</h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed laoreet eros. Maecenas non semper
            neque.
            Fusce lobortis urna volutpat ligula consequat gravida. Suspendisse auctor dui eu libero blandit gravida.
            Morbi aliquam nunc nisi, et posuere nisl sollicitudin ac.
            Vestibulum congue nisi ac quam imperdiet, non malesuada ante sodales. Cras ultrices quis augue vitae
            ultricies.
        </p>

        <button class="btn btn-outline-secondary" onclick="window.location.href='/about'">About Us</button>

    </div>

    <div>
        <!--Photo by Buenosia Carol from Pexels-->
        <img src="images/cat_4.jpg" style="width:100%">
  </div>

  <div class=" containers">
        <div>
            <h3 class="medium-title">Our Services</h3>
            <h2>We Take Care Of Your Cats</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed laoreet eros. Maecenas non semper
                neque.
                Fusce lobortis urna volutpat ligula consequat gravida. Suspendisse auctor dui eu libero blandit gravida.
                Morbi aliquam nunc nisi, et posuere nisl sollicitudin ac.
                Vestibulum congue nisi ac quam imperdiet, non malesuada ante sodales. Cras ultrices quis augue vitae
                ultricies.
            </p>
            <button class="btn btn-outline-secondary" onclick="window.location.href='/service'">Services</button>
        </div>

        <br>
        <div class="row">
            <div class="columns">
                <ul class="price">
                    <li class="price-header price-20">$20 for </br>30 minutes visit</li>
                    <li>Clearn Litter</li>
                    <li>Replace Food</li>
                    <li>Play Time</li>
                    <li class="doller price-20"><a href="/contact" class="button">Book</a></li>
                </ul>
            </div>

            <div class="columns">
                <ul class="price">
                    <li class="price-header price-30">$20 for </br>30 minutes visit</li>
                    <li>Clearn Litter</li>
                    <li>Replace Food</li>
                    <li>Play Time</li>
                    <li class="doller price-30"><a href="/contact" class="button">Book</a></li>
                </ul>
            </div>

            <div class="columns">
                <ul class="price">
                    <li class="price-header price-45">$20 for </br>30 minutes visit</li>
                    <li>Clearn Litter</li>
                    <li>Replace Food</li>
                    <li>Play Time</li>
                    <li class="doller price-45"><a href="/contact" class="button">Book</a></li>
                </ul>
            </div>

        </div>
        <!--row-->
    </div>
    <!--containers-->

<script src="js/script-home.js"></script>