<div>
    <!--Photo by Tomas Ryant from Pexels-->
    <img class="heroimage" src="images/cat_7.jpg" style="width:100%">
  </div>
  <div class=" containers">
    <div>
        <h3 class="medium-title">Our Services</h3>
        <h2>We Take Care Of Your Cats</h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed laoreet eros. Maecenas non semper
            neque.
            Fusce lobortis urna volutpat ligula consequat gravida. Suspendisse auctor dui eu libero blandit gravida.
            Morbi aliquam nunc nisi, et posuere nisl sollicitudin ac.
            Vestibulum congue nisi ac quam imperdiet, non malesuada ante sodales. Cras ultrices quis augue vitae
            ultricies.
        </p>
    </div>

    <br>
    <div class="row row-mobile">
        <div class="columns ">
            <ul class="price">
                <li class="price-header price-20">$20 for </br>30 minutes visit</li>
                <li>Clearn Litter</li>
                <li>Replace Food</li>
                <li>Play Time</li>
                <li class="doller price-20"><a href="/contact" class="button">Book</a></li>
            </ul>
        </div>

        <div class="columns">
            <ul class="price">
                <li class="price-header price-30">$20 for </br>30 minutes visit</li>
                <li>Clearn Litter</li>
                <li>Replace Food</li>
                <li>Play Time</li>
                <li class="doller price-30"><a href="/contact" class="button">Book</a></li>
            </ul>
        </div>

        <div class="columns">
            <ul class="price">
                <li class="price-header price-45">$20 for </br>30 minutes visit</li>
                <li>Clearn Litter</li>
                <li>Replace Food</li>
                <li>Play Time</li>
                <li class="doller price-45"><a href="/contact" class="button">Book</a></li>
            </ul>
        </div>

    </div>
    <!--row-->
</div>
<!--containers-->

<div class="containers">
    <div>
        <h3 class="medium-title">Special Care</h3>
        <h2>Do your cats need special care?</h2>
        <p class="text"s>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed laoreet eros. Maecenas non semper
            neque.
            Fusce lobortis urna volutpat ligula consequat gravida. Suspendisse auctor dui eu libero blandit gravida.
            Morbi aliquam nunc nisi, et posuere nisl sollicitudin ac.
            Vestibulum congue nisi ac quam imperdiet, non malesuada ante sodales. Cras ultrices quis augue vitae
            ultricies.
        </p>
    </div>

    <div class="row special-row">
        <div class="columns">
            <div class="special"><i class="fas fa-medkit"></i></div>
            <p>Medical Needs</p>
        </div>

        <div class="columns">
            <div class="special"><i class="fas fa-cat"></i></div>
            <p>Multiple Cats</p>
        </div>

        <div class="columns">
            <div class="special"><i class="fas fa-home"></i></div>
            <p>House Hold Chores</p>
        </div>

    </div>
</div>

<div class="containers">
    <div>
        <h3 class="medium-title">Guidance</h3>
        <h2>Not Sure What to Prepare for Your Cats?</h2>
        <p class="text">If you are not sure what to prepare before leaving your house, our check sheet can help you get ready!</p>
    </div>
    <a class="btn btn-outline-secondary" role="button" href="pdf/checklist.pdf" download="pdf/checklist.pdf">Download Check Sheet</a>
</div>
